# Ignorar node_modules
node_modules/

# Ignorar logs
*.log
npm-debug.log*

# Ignorar entornos locales
.http

# Ignorar cachés
.cache/
dist/

# Ignorar configuraciones específicas de editores
.vscode/
.idea/
.env
