/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  width: 100vw !important;
  height: 100vh !important;
  overflow-x: hidden;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

/* Barra de navegación */
.navbar {
  position: fixed; /* Fija la barra de navegación en la parte superior */
  top: 0; /* Alineación superior */
  width: 100%; /* Se asegura de que ocupe todo el ancho de la pantalla */
  z-index: 1050; /* Superior al z-index de la sidebar */
  background-color: #111827 !important;
  border-bottom: 2px solid #00b4d8;
  box-shadow: 0.5px 0.5px 2px lightgray;
}

.navbar-brand {
  color: #ffffff;
  font-weight: bold;
}
.nav-link {
  font-size: 0.9rem;
  margin-right: 10px;
}

.navbar .btn {
  border-radius: 20px;
  font-weight: 700;
}

#addGameBtn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
  color: #ffffff;
  transition: 0.5s;
  margin-right: 50px;
  position: relative;
  right: 10px; /* Mueve el botón 10px a la izquierda */
}

#addGameBtn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

#sortGamesBtn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
  color: #ffffff;
  transition: 0.5s;
}
#sortGamesBtn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
  transition: 0.5s;
}

.btn-outline-warning:hover {
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.9);
}

/* Contenedor principal */
.container {
  padding: 0;
  margin-left: 200px;
}

.row {
  display: flex;
  justify-content: flex-start; /* Distribuye espacio uniforme entre las tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten al ancho de la pantalla */
  margin-top: 5%; /* Centra el contenido de la fila */
  margin-left: 1%;
}

/* Estilos de las tarjetas de juego */
.card {
  background-color: black;
  border: 1px solid black;
  border-radius: 6px;
  transition: transform 0.2s ease-in-out;
  height: 360px; /* Aumenta la altura para dar espacio al botón */
  width: 260px; /* Ajusta el ancho de las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.card img {
  height: 240px; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Mantiene la proporción de las imágenes */
  border-radius: 8px;
}

.card-title {
  font-size: 1.2rem; /* Ajuste de tamaño de texto */
  text-align: center;
  margin-top: 5px;
  color: #00d4ff;
}

.card-text {
  color: #ced4da;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card .btn {
  margin-top: 5px;
  border-radius: 5px;
  font-weight: 700;
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

/* Modales */
.modal-content {
  background-color: #2c2f48;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.modal-header {
  border-bottom: 1px solid #394168;
}

.modal-title {
  color: #00d4ff;
}

.modal-body label {
  color: #ced4da;
}

.modal-body input,
.modal-body select {
  background-color: #151a30;
  color: #ffffff;
  border: 1px solid #394168;
  border-radius: 5px;
}

.modal-body button {
  background-color: #0d6efd;
  color: #ffffff;
  border-radius: 5px;
}

/* Botones */
button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.sidebar {
  width: 200px;
  height: calc(
    100vh - 50px
  ); /* Altura de la ventana menos la altura de la navbar */
  background-color: #111827;
  color: #ffffff;
  padding: 20px;
  position: fixed;
  top: 50px; /* Ajusta este valor según la altura de la barra de navegación */
  left: 0;
  overflow-y: auto;
  z-index: 1000; /* Asegura que la barra lateral esté encima de otros elementos */
}

.sidebar-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #00d4ff;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #151a30;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.category-item:hover {
  background-color: #00d4ff;
  color: #000;
  transform: scale(1.05);
}

.main-content {
  margin-left: 220px; /* Ancho de la barra lateral */
  padding: 20px;
}
